[Unit]
Description=Jenkins
Requires=traefik.service

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStart=/usr/local/bin/docker-compose -f /etc/liri/jenkins/docker-compose.yml up

[Install]
WantedBy=multi-user.target
