[Unit]
Description=Buildbot master
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStart=/usr/bin/docker run --rm --name buildbot-master -v {{ buildbot_master.config_file }}:/var/lib/buildbot/settings/config.json:ro -v /var/run/docker.sock:/var/run/docker.sock -v /srv/ci/buildbot:/var/lib/buildbot -v /srv/ci/output:/output -v /srv/www/repo.liri.io:/repo -e BUILDBOT_CONFIG_URL=https://github.com/lirios/buildbot-config/archive/master.tar.gz -e BUILDBOT_CONFIG_DIR=liribotcfg -p 8010 -p 9989 {{ buildbot_master.docker_image }}
ExecStop=-/usr/bin/docker stop buildbot-master
ExecStopPost=-/usr/bin/docker rm buildbot-master

[Install]
WantedBy=multi-user.target
