[Unit]
Description=nginx container
After=docker@www-go.service
Requires=docker@www-go.service

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStartPre=/usr/bin/docker pull {{ nginx_docker_image }}
ExecStart=/usr/bin/docker run --rm --name %i -v /etc/nginx/ssl:/etc/nginx/ssl:ro -v /etc/letsencrypt:/etc/letsencrypt:ro -v {{ nginx_conf_path }}/nginx-vhosts.conf:/etc/nginx/conf.d/default.conf:ro -v {{ nginx_conf_path }}/snippets:/etc/nginx/snippets:ro -v {{ nginx_conf_path }}/ci-master.htpasswd:{{ nginx_conf_path }}/ci-master.htpasswd:ro -v {{ nginx_html_path }}:/usr/share/nginx/html:ro -v {{ nginx_logs_path }}:/var/log/nginx -p 80:80 -p 443:443 --link www-go:go --link ci-master:ci {{ nginx_docker_image }}
ExecStop=-/usr/bin/docker stop %i
ExecStopPost=-/usr/bin/docker rm %i

[Install]
WantedBy=multi-user.target
